@charset "UTF-8";
// for website grid system or section width and height.
* {
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    background-color: #ffffff;
    @include font-source(18px, 400, $h-grey);
    @include font-noto(18px, 400, $h-grey);
    height: 100%;
}

h1 {
    font-size: 72px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
    @media only screen and (min-width: 320px) and (max-width: 780px) {
        font-size: 56px;
    }
}

h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 100px;
    margin-bottom: 10px;
    @media only screen and (min-width: 320px) and (max-width: 780px) {
        font-size: 26px;
        line-height: 20px;
        margin-bottom: 25px;
    }
}

//選單
nav {
    @include box;
    width: 100%;
    height: 100px;
    background-color: #000000;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0 2%;
    z-index: 1000;
    @include trans(.5s);
    img {
        width: 192px;
        float: left;
        margin-top: 27px;
        @include transition-duration(0.5s);
        a {
            border: none;
        }
    }
    li a {
        float: right;
        margin-right: 50px;
        line-height: 100px;
        color: #ffffff;
        text-decoration: none;
        @include trans(.5s);
        display: block;
    }
    li a:hover {
        color: $l-green;
    }
    li:first-child a {
        margin-right: 0px;
    }
}


@media only screen and (max-width: 959px) {
    //手機
    nav {
        height: 75px;
        img {
            width: 170px;
            margin-top: 19px;
        }
        ul {
            display: none;
        }
    }
}


//mobile nav
.menu-toggle {
    display: block;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 15px;
    cursor: pointer;
    z-index: 10000;
    @media only screen and (min-width: 960px) {
        display: none;
    }
    @media only screen and (min-width: 375px) and (max-width: 667px) {
        top: 20px;
        right: 20px;
    }
    &:hover .one {
        background: #ffffff;
    }
    &:hover .two {
        background: #ffffff;
    }
    &:hover .three {
        background: #ffffff;
    }
    &.on {
        .one {
            @include transform(rotate(45deg) translate(8px, 8px));
        }
        .two {
            opacity: 0;
        }
        .three {
            @include transform (rotate(-45deg) translate(6px, -7px));
        }
    }
}

.one,
.two,
.three {
    display: block;
    width: 100%;
    height: 2px;
    background: #ffffff;
    margin: 8px auto;
    backface-visibility: hidden;
    @include transition-duration(0.5s);
}

.menu-m {
    @include pos-mid;
    @include transition-duration(0.5s);
    width: 65%;
    @media only screen and (max-width: 959px) and (min-width: 480px) {
        width: 40%;
    }
    img {
        width: 100%;
        margin-bottom: 30px;
        @media only screen and (max-device-width: 320px) {
            margin-bottom: 15px;
        }
    }
    ul {
        margin: 0 auto;
        text-align: center;
        width: 100%;

        a {
            @include transition-duration(0.5s);
            text-decoration: none;
            color: #ffffff;
            width: 100%;
            text-align: center; // border-bottom: #ffffff 1px dashed;
            display: block;
            letter-spacing: 2px;
            padding-bottom: 35px;
            @media only screen and (max-device-width: 320px) {
                padding-bottom: 25px;
            }
        }
    }
}

.menu-section {
    @include trans(.5s);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 9000;
    box-sizing: content-box !important;
    position: fixed;
    background-color: $black;
    &.on {
        right: 0;
        display: block;
    }
} //mobile nav end
a.btn {
    margin: 0 auto;
    text-align: center;
    width: 250px;
    height: 80px;
    background-color: $h_green;
    display: block;
    text-decoration: none;
    color: #fff;
    @include radius(5px);
    @include trans(.4s);
    line-height: 80px;

    @media only screen and (min-width: 320px) and (max-width: 780px) {
        font-size: 18px;
        font-weight: 800;
    }
    &:hover {
        background-color: #28642a;
    }
}

a.btn_ticket {
    margin-top: 50px;
    margin-bottom: 50px;
}

a.btn_popup_ticket {
    margin-top: 50px;
}


.wrap {
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
    position: relative;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-top: 150px;
    padding-bottom: 100px;
    .main {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    } //mobile
    @media only screen and (max-width: 1024px) {
        padding-top: 100px;
        .main {
            padding: 0 25px;
        }
    }
}

//講師介紹 照片牆
section.lecturer {
    ul.photo {
        li {
            width: 24%;
            margin-bottom: 50px;
            p {
                @include circle(66%);
            }
        }
    }
}

//照片牆
section.introduce .general,
section.introduce .curate,
section.lecturer {
    ul.photo {
        li {
            text-align: center;
            font-weight: 400;
            line-height: 1.2;
            display: inline-block;
            vertical-align: top;
            p{
                @include circle(70%);
                @include img-scale;
                overflow: hidden;
                margin: 0 auto 20px auto; 
                position: relative;
                -webkit-mask-image: -webkit-radial-gradient(white, black);
            }
            span {
                display: block;
                font-size: 30px;
                color: $h-green;
                margin-bottom: 2px;
            }
            b {
                font-size: 16px;
            }
        }
        a {
            color: $h-grey;
            p {
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    background-color: black;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: all .4s ease-in-out;
                }
                img {
                    @include scale(1);
                    transition: transform .4s ease-in-out;
                }
            }
            @media only screen and (min-width: 769px) {
                &:hover {
                    p {
                        overflow: hidden;
                        img {
                            @include scale(1.1);
                        }
                        &:after {
                            opacity: 0.4;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: 1000px) {
            li {
                width: 30%;
                margin-bottom: 35px;
            }
        } //i6+
        @media screen and (max-width: 767px) {
            li {
                width: 49%;
            }
            a{
                p {
                    @include circle(80%);
                    margin-bottom: 15px;
                }
                span {
                    font-size: 25px;
                    margin-bottom: 0px;
                }
                b {
                    font-size: 15px;
                    letter-spacing: 0;
                }
            }
        } //i6
        @media screen and (max-width: 413px) {
            li {
                width: 48%;
            }
            a{
                p {
                    @include circle(85%);
                }
            }
        } //i5
        @media screen and (max-width: 374px) {
            a{
                p {
                    @include circle(90%);
                }
            }
        }
    }
}

footer {
    margin: 0 auto;
    padding: 20px;
    @include box;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 13px;
    line-height: 18px;
    p {
        display: block;
        @media only screen and (max-width: 375px) {
            display: none;
        }
    }
    p.phone {
        display: none;
        @media only screen and (max-width: 375px) {
            display: block;
        }
    }
}