@charset "UTF-8";
//box
@mixin trans($sec) {
    -o-transition: $sec;
    -webkit-transition: $sec;
    -moz-transition: $sec;
    transition: $sec;
}

//透明度
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

//背景cover
@mixin cover($left, $top) {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: $left $top;
}

//圓角
@mixin radius($rwidth) {
    -webkit-border-radius: $rwidth;
    -moz-border-radius: $rwidth;
    -o-border-radius: $rwidth;
    border-radius: $rwidth;
}

@mixin pos-mid {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}

@mixin box{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// image scale with box
@mixin img-scale {
    >img {
        width: 100%;
        height: auto;
        display: block;
    }
}

// vertical align
@mixin v-align($h) {
    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: $h;
    }
}

// circle
@mixin circle($unit) {
    width: $unit;
    height: $unit;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
}  

// text-pretty
@mixin text-pretty {
    text-align: justify;
    text-justify: inter-ideograph;
    word-wrap: break-word;
    word-break: break-all;
}









